.menu-mobile-container {
  display: flex;
  flex-direction: column;
}

.menu-mobile.active {
  display: inline;
  position: fixed;
  top: 80px;
  left: 285px;
}

.menu-mobile {
  display: none;
}

.menu-mobile ul {
  background-color: aqua;
  border-radius: 4px;
  padding: 4px;
}

.menu-mobile ul li {
  list-style: none;
  text-align: center;
  margin-bottom: 8px;
  padding-bottom: 4px;
  border-bottom: 1px solid #fff;
}

.menu-mobile ul li a {
  text-decoration: none;
  color: #000;
}

@media(min-width: 50px) and (max-width: 374px) {
  .menu-mobile.active {
    top: 80px;
    left: 200px;
  }
}
