.form-modal-container {
  width: 100%;
  height: 400px;
}

.forms-pet {
  display: flex;
  justify-content: center;
}

.input-pet {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 400px;
  margin-bottom: 20px;
}

.input-pet input {
  height: 20px;
  border-radius: 8px;
  border: none;
  padding: 8px;
}

.input-pet label {
  text-align: left;
  margin-bottom: 4px;
  font-weight: bold;
}

.btn-pet-modal {
  text-decoration: none;
  background-color: #000;
  padding: 10px;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
}

.btn-div {
  display: flex;
  width: 74%;
  margin: 0 auto;
}
