.home-button {
  padding: 18px;
  background-color: #02CBBF;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.home-button:hover {
  background-color: #00a59a;
}

@media (min-width: 750px) and (max-width: 1150px) {
  .home-button {
    /*background-color: rgb(30, 255, 236);*/
    background-color: #EF7C12;
    color: #fff;
    font-weight: bold;
  }
}
