.pets-register-form {
    margin: 0 auto;
    width: 400px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.div-input-pets input {
  max-width: 100%;
  height: 18px;
  border-radius: 8px;
  border: 1px solid #1CB4A8;
  padding: 8px;
  margin-top: 10px;
}

.div-input-pets label {
  margin-bottom: 10px;
}

.pets-register-form input {
  width: 370px;
}

.pets-register-form-title {
    height: 40px;
    font-size: 32px;
    margin: 30px auto;
    text-align: center;
}

.img-button-box, .register-button-box {
    width: 100%;
    padding: 32px 0px;
}

.register-button-box {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .pets-register-form {
        width: 300px;
    }
}
