.pets-register-form {
    margin: 0 auto;
    width: 400px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.pets-register-form-title {
    height: 40px;
    font-size: 32px;
    margin: 30px auto;
    text-align: center;
}

.img-button-box, .register-button-box {
    width: 100%;
    padding: 32px 0px;
}

.register-button-box {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .pets-register-form {
        width: 300px;
    }
}