.menu-pets-register-container {
    background-color: #15ADA1;
}

.pets-register-form {
    width: 80%;
    margin: 0 auto;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.pets-register-form-title {
    height: 40px;
    font-size: 32px;
    margin: 30px;
    text-align: center;
}

.pets-register-input-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.pets-register-input-title {
    font-size: 16px;
    text-align: left;
}

.pets-register-input-box {
    height: 32px;
    width: 440px;
    border-radius: 8px;
    border:solid 1px #15ADA1;
}

.img-button-box {
    width: 440px;
    padding: 32px;
}

.register-button-box {
    padding: 32px;
}