.card-container {
  max-height: 394px;
  max-width: 296px;
	margin: 0;
  text-align: center;
}

.card-container > img {
  max-width: 100%;
  min-width: 287px;
  height: 223px;
  border-radius: 8px;
  margin-bottom: 23px;

  object-fit: cover;
}

.card-container > h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24.2px;
  margin: 0 23px 0;
}

.btn-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 19px;
}

.btn-container > button {
  padding: 13px 35px 12px;
  border-radius: 16px;
  width: 200px;
  box-sizing: border-box;

  color:#FFFFFF;
  line-height: 16.94px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;

  cursor: pointer;
}

.btn-edit {
  all: unset;
  background-color: #02CBBF;
}

.btn-edit:hover {
  background-color: #00a59a;
}

.btn-remove {
  all: unset;
  background: #FE0303;
}

.btn-remove:hover {
  background: #a30101;
}
