.home-container {
    height: 100vh;
    width: 100%;
    background: url('../../assets/backgroundHome.jpg');
    background-size: cover;
}

.home-content {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 44px auto;
  margin-bottom: 200px;
}

.home-text {
  width: 50%;
}

.home-text h1 {
  font-size: 3.4em;
  margin-bottom: 14px;
  color: #EF7C12;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home-text p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 70%;
  margin-bottom: 48px;
  text-align: justify;
}

.home-img {
  display: flex;
  justify-content: right;
  width: 50%;
}

.home-img img {
  width: 530px;
}

@media (min-width: 1400px) {
  .home-content {
    height: 800px;
  }

  .home-text h1 {
    font-size: 4em;
  }

  .home-text p {
    width: 60%;
    line-height: 20px;
    font-weight: bold;
  }
}

@media (min-width: 750px) and (max-width: 1150px) {
  .home-container {
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .home-content {
    height: 600px;
  }

  .home-text h1 {
    font-size: 3em;
    color: rgb(255, 255, 255);
  }

  .home-img img {
    width: 400px;
  }
}

@media (min-width: 300px) and (max-width: 700px) {
  .home-container {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .home-content {
    flex-direction: column;
    margin-top: 100px;
  }

  .home-text {
    width: 100%;
    text-align: center;
  }

  .home-text h1 {
    color: #000;
    margin-bottom: 28px;
  }

  .home-text p {
    width: 100%;
    margin-bottom: 44px;
  }

  .home-img {
    width: 100%;
    margin-top: 80px;
  }

  .home-img img {
    width: 300px;
  }
}
