.adoption-card-container {
  width: 30%;
}

.adoption-card-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.card-image-adoption img {
  border-radius: 16px;
  margin-bottom: 12px;
}

.card-text-adoption {
  text-align: center;
  margin-bottom: 32px;
}

.card-text-adoption h2 {
  margin-bottom: 8px;
}

.card-text-adoption p {
  margin-bottom: 4px;
}

@media (min-width: 300px) and (max-width: 750px) {
  .adoption-card-container {
    width: 100%;
  }

  .adoption-card-content {
    width: 100%;
  }
}
