.footer-container {
  background-color: #1CB4A8;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.valentes-footer {
  margin-bottom: 12px;
}

.footer-container p {
  color: #fff;
  font-weight: bold;
}

.footer-container a {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 300px) and (max-width: 750px) {
  .footer-container {
    text-align: center;
    font-size: 0.8em;
    height: 120px;
  }
}
