.campaign-page-container {
  width: 100%;
  text-align: center;
}

.title-page-campaign {
  margin-top: 60px;
  color: #EF7C12;
}

.campaign-page-content {
  width: 80%;
  height: 100%;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.campaign-page-content-no-campaign {
  width: 80%;
  height: 400px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.campaign-page-content-loading {
  width: 80%;
  height: 400px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.icon-loading {
  animation: loading 2s linear infinite;
}

@keyframes loading {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media(min-width: 1400px) {
  .campaign-page-content {
    margin-bottom: 170px;
  }

  .campaign-page-content-no-campaign {
    height: 530px;
  }
}

@media(min-width: 300px) and (max-width: 750px) {
  .title-page-campaign {
    margin-bottom: -40px;
  }
}
