.campaign-page-container {
  height: 100vh;
  width: 100%;
  text-align: center;
}

.title-page-campaign {
  margin-top: 60px;
  color: #EF7C12;
}

.campaign-page-content {
  width: 80%;
  margin: 120px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
