.campaign-register-form {
    margin: 0 auto;
    width: 400px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    align-items: center;
}

.campaign-register-form-title {
    height: 40px;
    font-size: 32px;
    margin: 60px auto;
    text-align: center;
}

.campaign-img-button-box,
.campaign-register-button-box {
    width: 100%;
    padding: 32px 0px;
}

.campaign-register-button-box {
    display: flex;
    justify-content: center;
}

.campaign-textarea-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.campaign-textarea-title {
    font-size: 16px;
    text-align: left;
}

.campaign-textarea-box {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 8px;
    border: solid 1px #15ADA1;
}

@media screen and (max-width: 500px) {
    .campaign-register-form {
        width: 300px;
    }
}