.campaign-container {
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
  margin: 0 auto;
}

.campaign-main-content {
	width: 80%;
	margin: 10px auto;
  margin-bottom: 200px;
}

.campaign-main-content > h1 {
	font-size: 32px;
	line-height: 38.73px;
	font-weight: 700;
	text-align: center;
	padding: 74px 0 72px 0;
}

.campaign-content {
	display: flex;
	grid-template-columns: repeat(auto-fit, minmax(14.125rem, auto));
	justify-content: space-between;
	justify-items: center;
	column-gap: 52px;
	row-gap: 40px;
}

.campaign-no-content {
	display: flex;
	justify-content: center;
	margin: 20px;
}

@media(min-width: 300px) and (max-width: 750px) {
  .campaign-main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
}
